@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif !important;
   
    
   
   

    
  
  
}


#navbar {
    background: #070606;
  
}

#logo {
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}

#logo span {
    color: #ffa500;
}

.navbar-toggler span {
    color: #ffa500;
}

.navbar-nav {
    margin-left: 20px;
}
.nav-link:active{
    background-color: rgb(10, 9, 9);
    color: rgb(233, 224, 224);
}

.nav-item .nav-link {
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}

.nav-item .nav-link:hover {
    background: #ffa500;
    color: white;
}

#navbar form button {
    background: orange;
    color: white;
    border: none;
}


h1{

color: #f5eee8;
font-style: normal;
font-size: 20px;

font-family: 'Poppins', sans-serif !important;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 187.5%;


}


.button {
    border: none;
    margin-left: 10%;
    padding: 15px 22px;

    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.button1 {
    background-color: black;
    margin-left: 1%;
    font-family: Inter-Bold;

}

.button1:hover {
    background-color: white;
    color: black;
}
div.box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
div.card{
    width: 250px;
    text-align: center;
    margin-top: 30px;
    box-shadow: 0px 2px 4px 0 rgb(0,0 ,0,.2 ), 0 4px 16px 0 rgb(0,0 ,0,.2 );
    cursor: pointer;
}
div.card img{
    width: 100%;
}
div.text{
    padding: 10px;
    background-color: #fff;
}
#footer{
    padding: 0 0 30px 0;
    color: #d0d0d0;
    font-size: 14px;
    background: #111111;
  }
  #footer .footer-top{
    padding: 60px 0 30px;
    background: #1b1b1b;
    color: #fff;
  }
  #footer .footer-top .footer-contact a{
    font-size: 20px;
    color: #e6e5df;
    font-weight: bold;
  }
  #footer .footer-top .footer-contact a img{
    margin-right: 10px;
    margin-bottom: 10px;
  }
  #footer .footer-top .footer-contact h4{
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  #footer .footer-top .footer-contact p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: #b7b7b7; 
  }
  #footer .footer-top h4{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  #footer .footer-top .footer-links{
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #footer .footer-top .footer-links ul li{
    padding-right: 2px;
    color: #eeede5;
    font-size: 18px;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul li{
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  #footer .footer-top .footer-links ul li:first-child{
    padding-top: 0;
  }
  #footer .footer-top .footer-links ul li a{
    color: #aaaaaa;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul a:hover{
    text-decoration: none;
    color: #ecebe6;
  }
  #footer .footer-top .social-links a{
    font-size: 18px;
    display: inline-block;
    background: #0e0c0c;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .footer-top .social-links a:hover{
    background: #ecece8;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .copyright{
    text-align: center;
  
  }
  #footer .credits{
    float: right;
    text-align: center;
  }
    
  .social-links i {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.social-links i:hover {
    background: #f5f3f0;
    color: black;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: orange;} /* Green */
.button3 {background-color: blueviolet;} /* Green */
.button4 {background-color: brown;} /* Green */
.button5 {background-color: green;} /* Green */
.button7 {background-color: blue; margin-right: 20px;}
.button11 {background-color:#2351F5; margin-right: 20px;}
.button10 {background-color:#FF8484;;}
.button13 {background-color:#FF7C32; }
.button14 {background-color:#2351F5;}
.button15 {background-color:#23A54F; }
.button16 {background-color:#2351F5; }
.button17 {background-color:#9921C3;}
.button18 {background-color:yellow; color: black;} /* Green */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: orange;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ebf5ec;
  color: black;
}
p{
font-family: 'Poppins', sans-serif !important;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 187.5%;

}



*{color: #FFF;
font-family: 'Poppins', sans-serif !important;
font-size: 20px;
font-style: normal;
font-weight: 600;

line-height: 187.5% ;
}
